.team-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.team {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px;
  padding-top: 0;
}

.team-name {
  font-family: "News706BT";
  font-weight: bold;
  font-size: 20px;
}

.team-detail {
  font-family: "Gilroy-Medium";
}

.team-heading {
  text-align: center;
  font-family: "News706BT";
  font-weight: bold;
}

.teampicture {
  width: 100%;
  margin: 30px 0;
}

.team-wrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.teampicture {
  box-shadow: 0px 10px 10px #5f5f5f;
}

.team1,
.team2,
.team3 {
  max-width: 350px;
  margin: auto;
}

.team1 {
  position: relative;
}

.team3 {
  position: relative;
}

.splash {
  top: 25%;
  left: -40%;
  position: absolute;
  z-index: -1;
}

.splash img {
  width: 200px;
}

.splashteam2 {
  position: absolute;
  z-index: -1;
  top: 35%;
  right: -40%;
}

.splashteam2 img {
  width: 200px;
}

@media (max-width: 600px) {
  .team-heading {
    font-size: 16px;
  }

  .team-name {
    font-size: 16px;
  }

  .team-detail {
    font-size: 12px;
  }

  .team {
    padding-top: 150px !important;
    padding-bottom: 0 !important;
  }
}

@media (max-width: 800px) {
  .team-wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .team-wrapper img {
    width: 200px;
  }

  .team1,
  .team2,
  .team3 {
    text-align: center;
  }

  .team {
    padding: 50px;
  }
}

