.team-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.team {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.team-name{
    font-family: "News706BT";
    font-weight: bold;
    font-size: 20px;
}

.team-detail{
    font-family: "Gilroy-Medium";
}

.team-heading {
  text-align: center;
  font-family: "News706BT";
  font-weight: bold;
}

.team-wrapper img {
  width: 300px;
  margin: 30px 0;
}

.team-wrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
  background: url("/public/splash/Splash3.png"), url("/public/splash/Splash9.png");
  background-repeat: no-repeat;
  background-position: left center, right center;
  background-size: 200px;
}

.team1 img, .team2 img, .team3 img{
  box-shadow: 0px 10px 10px #5f5f5f;
}

