.whitepaper-container{
    width: 100%;
    margin: 0;
    padding: 0;
}

.whitepaper{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    gap: 50px;
}

.whitepaper-img{
    flex: 0.4;
}

.whitepaper-img img{
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5)
}

.whitepaper-text{
    padding: 30px 0;
    flex: 0.6;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.whitepaper-heading{
    font-family: "News706BT";
    font-weight: bold;    
    color: white;    
}

.whitepaper-detail{
    font-family: "Gilroy-Medium";
    line-height: 26px;
    color: white;
}

.whitepaper-detail__list{
    font-family: "Gilroy-Medium";
    line-height: 26px;
    color: white;
    padding-left: 20px;
}

.whitepaper-button{
    margin-top: 50px;
}

.read{
    padding: 12px 30px;
    background: rgb(47,82,143);
    background: linear-gradient(90deg, rgba(47,82,143,1) 0%, rgba(0,0,0,1) 100%);
    color: white;
    font-family: "Gilroy-Bold";
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 0px 4px 10px #5f5f5f;
    text-shadow: 2px 2px 8px #000000;
    
}

.whitepaper-othertext{
    font-family: "Gilroy-Medium";
}
